.success {
    margin-top: 67px;
    padding: 0 29px;
}

.success .page-title {
    font-weight: 700;
    color: #247a6b;
    text-align: center;
}

.success > div:not(:first-child) {
    margin-bottom: 35px;
}

.success > div:not(:first-child) p:first-child {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.04em;
    margin-bottom: 10px;
}

.success > div:not(:first-child) p:not(:first-child) {
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.04em;
}

.return-to-home {
    margin-bottom: 10px;
}
