.reservation-page {
    margin-top: 67px;
    margin-bottom: 147px;
}

.reservation {
    padding: 0 24px;
}

.seats {
    display: grid;
    grid-template-columns: repeat(10, auto);
    justify-items: center;
    row-gap: 18px;
}

.seat {
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.04em;
    width: 26px;
    height: 26px;
    background-color: #c3cfd9;
    border: 1px solid #808f9d;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.seats-subtitle {
    font-size: 13px;
    line-height: 15px;
    letter-spacing: -0.013em;
    margin-top: 16px;
    display: flex;
    justify-content: space-around;
}

.seats-subtitle > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.color {
    width: 25px;
    height: 25px;
    border-radius: 17px;
    margin-bottom: 5px;
}

.selected-color {
    background-color: #8dd7cf;
    border: 1px solid #45bdb0;
}

.available-color {
    background-color: #c3cfd9;
    border: 1px solid #808f9d;
}

.unavailable-color {
    background-color: #fbe192;
    border: 1px solid #f7c52b;
}

.information {
    margin-top: 41px;
}

.name {
    margin-bottom: 7px;
}

.name-span,
.cpf-span {
    font-size: 18px;
    line-height: 21px;
}

.seat-information {
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 10px;
}

.information input {
    width: 100%;
    height: 51px;
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    padding-left: 18px;
    outline: none;
}

input::placeholder {
    font-style: italic;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #afafaf;
}

.reserve-seat {
    margin-top: 57px;
}

.name-input.wrong,
.cpf-input.wrong {
    border: 1px solid red;
}

.error-message {
    color: red;
    font-size: 17px;
}
